.grid-row-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 550px;
  align-items: center;
}
.centered-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 1px 1px 4px #111;
  font-family: 'altis-bold', Montserrat, Arial, Helvetica, sans-serif;
  text-align: center;
}
.bg-beach {
  background: url(/img/beach.jpeg);
  height: 100%;
  background-size: cover;
}
p.title {
  text-align: center;
}

.bg-ilta {
  background: url(/img/ilta.jpeg);
  height: 100%;
  background-size: cover;
  flex-direction: column;
  align-items: end;
  padding-left: 10%;
}

@media only screen  and (max-width: 700px) {
  .grid-row-2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 550px;
  }
}